@import '../core/shadow'

progress()
  -webkit-appearance none
  appearance none
  shadow .3 .2

  overflow hidden
  border-radius .1em

  &::-webkit-progress-bar
    background-color #fff

  &::-webkit-progress-value
    background teal
