@import '../core/shadow'
@import '../core/clean'
@import '../core/space'

//TODO ripple effect
button()
  clean()
  space()
  cursor pointer
  border-radius .1em

  &:active
    transform scale(.95)

  & > a
    color inherit

a-button()
  padding 1em 0

  & > a
    padding 1em

raised-button()
  shadow .3

  &:active
    shadow .1 //TODO smaller shadow
