@import '../behaviour/clickable'
@import '../core/shadow'
@import '../core/clean'
@import '../core/space'

//TODO ripple effect
button()
  clean()
  space()
  clickable()
  cursor pointer
  border-radius .1em

  & > a
    color inherit

a-button()
  padding 1em 0

  & > a
    padding 1em

raised-button()
  shadow .3
