@import '../behaviour/clickable'
@import '../core/clean'
@import '../core/space'

//TODO ripple effect

a-button()
  padding 1em 0

  & > a
    padding 1em

button()
  clean()
  space()
  clickable()
  cursor pointer
  border-radius .1em

  & > a
    color inherit
