@import '../core/space'
@import '../core/shadow'

raised-li()
  background #fff
  shadow .3

li()
  space .25em .5em
  list-style-type none

  &[raised]
    raised-li()

list()
  space()

  &[raised]
    li
      raised-li()

ul()
  list()

ol()
  list()
  counter-reset item

  li:before
    margin-right .5em
    display inline-block
    content counter(item)
    counter-increment item
