@import '../../node_modules/flexstyl/flex'
@import '../core/space'
@import '../core/clean'

nav()
  clean()
  flex styl
  align center
  space .5em, .5em 1em

  h1, h2, h3, h4, h5, h6
    space 0, 0 .5em
    flex grow
