@import '../core/shadow'

progress()
  -webkit-appearance none
  appearance none

  overflow hidden
  border-radius .1em

  &::-webkit-progress-bar
    background-color #fff

  &::-webkit-progress-value
    background teal
