@import '../behaviour/raised'

.sl-primary
  background teal
  color #fff

.sl-success
  background mediumseagreen
  color #fff

.sl-info
  background lightskyblue

.sl-warning
  background orange

.sl-danger
  background indianred
