@import '../behaviour/hoverable'
@import '../behaviour/raised'

bg-color(bg, font-color = '')
  color font-color
  background bg
  hoverable bg

.sl-primary
  bg-color teal #fff

.sl-success
  bg-color mediumseagreen #fff

.sl-info
  bg-color lightskyblue

.sl-warning
  bg-color orange

.sl-danger
  bg-color indianred
